.btn{
    padding: 16px 32px;
    background-color: #402f2c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    

}

.btn-border{
    border: 1px solid #402f2c;;
    color: #402f2c;
    background-color: transparent;
    margin-left: 24px;
}

.btn-border2{
    border: 1px solid #402f2c;
    color: #402f2c;
    background-color: transparent;
    margin-left: 24px;
}